.container{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem; 
    height: 10rem;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(168, 194, 188);
}