<div class='container mb-2 mt-5'>
  <div class='row justify-content-center'style="margin-bottom: 80px">
    <div class='col-lg-8 col-md-10'>
      <form class='card mt-4' style='height: 200px;' >
        <div class='card-body' style='margin-top: 30px;'>
          <div class='form-group' >
            <div [formGroup]='passwordForm'>
                <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example17"
                      class="form-control form-control-lg"
                      formControlName="password"
                      placeholder="* Create Password"
                      [class.is-invalid]="
                        resetForm.password.invalid && resetForm.password.touched"/>
                    <div *ngIf="resetForm.password.invalid && resetForm.password.touched">
                      <small
                        class="text-danger"
                        *ngIf="resetForm.password.errors?.required">Please fill the password</small>
                      <small
                        class="text-danger"
                        *ngIf="resetForm.password.errors?.pattern">Your password must contain at least one uppercase, one
                        lowercase, and one number
                      </small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example27"
                      class="form-control form-control-lg"
                      formControlName="confirmPassword"
                      placeholder="* Confirm Password"
                      [class.is-invalid]="passwordForm.errors?.misMatch"
                    />
                    <small
                      class="text-danger"
                      *ngIf="passwordForm.errors?.misMatch">Password do not match</small>
                  </div>

        </div>
        <div class=button>
          <button class='btn btn-success' type='submit' (click)= "updatePassword()">Reset Password</button>
        </div>
        </div></div>
      </form>
    </div>
    </div>
  </div>