<div class='container padding-bottom-3x mb-2 mt-5'>
  <div class='row justify-content-center'>
    <div class='col-lg-8 col-md-10' 
    style="height: 40vh;"
     *ngIf = 'passwordFlag'>
      <form class='card mt-4' style='height: 200px;' >
        <div class='card-body' style='margin-top: 30px;'>
          <div class='form-group' >
            <div [formGroup]='loginForm'>
            <label for='email-for-pass' style='margin-bottom: 10px;'>Enter your registered email id to change the password</label>
            <input 
                [class.is-invalid]='email.invalid && email.touched'
                type='email'
                id='form2Example17'
                class='form-control form-control-lg'
                formControlName='email'
            />
            <div *ngIf='email.invalid && email.touched'>
                <small class='text-danger' *ngIf='email.errors?.required'
                >Email is required</small
                >
           </div>
          </div>
        </div>

        </div>
        <div class='card-footer'>
          <button class='btn btn-success' type='submit' (click)='forgotPassword()'>Reset Password</button>
          <button style='margin-left: 50px;' class='btn btn-danger' type='submit' (click)='homePage()'>Back to Login</button>
        </div>
      </form>
    </div>
    <div class="cardBox" style="height: 100px; background-color: aliceblue;" class='col-lg-8 col-md-10' *ngIf = 'dialogFlag'>
      <div style="margin-top: 20px;" mat-dialog-content>The link for resetting your password has been sent to your email. Please check your mail for the link</div>
        <div mat-dialog-actions>
          <button style="margin-top: 15px; margin-left: 30%;" class="closeButton" mat-button (click)='closeDialog()'>Close</button>
        </div>
    </div>
  </div>
</div>
