<div *ngFor="let elem of temp">
<section class="vh-auto gradient-custom-2">
    <div class="container py-4 h-auto">
      <div class="row d-flex justify-content-start align-items-start ">
        <div class="col-md-10 col-lg-8 col-xl-6" style="width: 100%;">
          <div class="card card-stepper" style="border-radius: 16px;" >

            <div class="card-header p-3"  >
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2" > Order ID <span class="fw-bold text-body"> : {{ elem.orderId}}</span></p>
                  <p class="text-muted mb-0"> Placed Date <span class="fw-bold text-body"> : {{ elem.created}}</span> </p>
                </div>
                <div>
                    <p class="text-muted mb-2"> Thank you, </p>
                  <h2 class="mb-0" style="margin-right: 50px;"> {{userName | uppercase}} </h2>
                </div>
              </div>
            </div>


            <div *ngFor="let data of elem.demo;">
            <div class="card-body p-1" style="margin-left: 30px; margin-top: 10px;">
              <div class="d-flex flex-row" style="margin-right: 50px;">
                <div class="flex-fill">
                  <h2 class="bold mb-2">{{data.productName}}</h2>
                  <p class="text-muted mb-2"> Qt: {{data.quantity}} item</p>
                  <h4 class="mb-2">&#x20b9; {{data.price}}</h4>
                  <!-- <p class="text-muted">Tracking Status on: <span class="text-body">11:30pm, Today</span></p> -->
                </div>
                <div>
                  <img class="align-self-center img-fluid" src="../../../../assets/{{data.image}}" width="100">
                </div>
              </div>
              <hr style="color: black;">
              <!-- <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
              </ul> -->
            </div>
            </div>

            <div  class="card-footer p-3" >
              <div class="d-flex justify-content-between ">
                <div style="margin-right: 50px;">
                    <h2>Total - &#x20b9; {{elem.total}}</h2>
                </div>
                <!-- <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!">Cancel</a></h5>
                <div class="border-start h-100"></div> -->
                
                <!-- <button class="btn secondary" style="border-color: black;">Payment</button>
                <div class="border-start h-100"></div>
                <button class="btn secondary" style="border-color: black;">Back</button>
                <div class="border-start h-100"></div> -->
                <!-- <h5 class="fw-normal mb-0">
                    <a href="#!" class="text-muted">
                    <i class="fas fa-ellipsis-v"></i>
                </a></h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
</div>

