<mat-form-field class="search" appearance="standard">
  <mat-label style="color: white">Filter</mat-label>
  <input
    style="color: white"
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. car"
    #input/>
</mat-form-field>
<button *ngIf="roleStatus"  mat-raised-button routerLink="/order/create" color="primary">
  Create New Booking
</button>

<mat-table [dataSource]="data" matSort>
  <ng-container *ngFor="let column of displayedColumns"  [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | uppercase }}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span *ngIf="column !== 'Action' && column !== 'image'" >{{ row[column] }}</span>
      <span *ngIf="column === 'Action'">
        <mat-icon
          (click)="deleteOrder(row)"
          aria-hidden="false"
          style="cursor: pointer"
          aria-label="Example delete_forever icon">delete_forever</mat-icon>
        <mat-icon
          (click)="updateOrder(row)"
          style="cursor: pointer; margin-left: 20px;"
          class="material-icons">edit</mat-icon>
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-header-row class="mat-row" *matNoDataRow>
    <mat-cell class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </mat-cell>
  </mat-header-row>
</mat-table>

<mat-paginator
  [pageSizeOptions]="paginationSizes"
  aria-label="Select page of orders">
</mat-paginator>
