table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 10%;
  }
  .top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  
    padding-top: 75px;
  }
  .search {
    width: 75%;
  }
  button {
    margin-top: 20px;
    margin-right: 40px;
    width: 250px;
  }
  